<section id="aboutMe" class="row container-fluid about_me">
	<section class="block_title"><h1>About me</h1></section>
<!--AvaFotoEffect-->
	<div class="about_me_header">
		<!-- <hr class="line"></hr> -->
		<div class="foto_center">
			<div id="rerun_animation" class="foto">
			</div>
		</div>
		<!-- <hr class="line"></hr> -->
		<h3 class="title_under_foto text-center">Web-designer & Frontend deweloper</h3>
	</div>
<!--AvaFotoEffect-->
	<section id="timeline">
		<div class="timeline">
			<canvas id="cvs3"></canvas>
			<article>
				<h2>Education</h2>          
				<figure>
					<figcaption>Front End development</figcaption>
					<h6>2015 - NOW</h6>
					<p>
						Successfully completed the Brain Academy Certification reguirements and recognized as a Brain Academy Certified Associate in Front End
					</p>
				</figure>
				<figure>
					<figcaption>english</figcaption>
					<h6>2013-2015</h6>
					<p>	
						INTERMEDIATE course in English language school “NewTone”</br>
						ADVANCED course in English language school “Big Bang” 
					</p>
				</figure>
				<figure>
					<figcaption>architecture & design & science</figcaption>
					<h6>20010 - 2012</h6>
					<p>
						Master’s degree in Architecture
						O.M. Beketov National University Of Urban Economy in Kharkiv
					</p>
				</figure>
				<figure>
					<figcaption>architecture & design</figcaption>
					<h6>2006-2010</h6>
					<p>                    
						Bachelor’s degree in Urban Design
						O.M. Beketov National University Of Urban Economy in Kharkiv
					</p>
				</figure>
			</article>
			<article>
				<h2>Work</h2>
				<figure>
					<figcaption>Your Company?</figcaption>
					<h6>NOW</h6>
					<p>
						Give me a chance to realize my best strengths: intelligence, diligence and creativity to  contribute the bright future in your company.
				</figure>
				<figure>
					<figcaption>freelance front-end development</figcaption>
					<h6>2010 - 2011</h6>
					<p>
						Create Landing pages and small companies’ websites, write simple scripts. Work width Html5, SCSS, CSS-animations, JavaScript/JQwery, Git, Gulp/Bower
					</p>
				</figure>
				<figure>
					<figcaption>freelance web-design development</figcaption>
					<h6>2015-2016</h6>
					<p>
						Development of corporate identity. Create website design templates and logo for companies. Create images for social networks and templates for promotional products. Work width Adobe Photoshop & CorelDraw
					</p>
				</figure>
				<figure>
					<figcaption>content manager</figcaption>
					<h6>2015-2016</h6>
					<p>
						Writing new unique content for the
						website, adapt images and upload them on web hosting

					</p>
				</figure>
				<figure>
					<figcaption>lead architect</figcaption>
					<h6>2014-2015</h6>
					<p>
						Developing projects from the conceptual design stage to the stage of detailed design, construction coordination with state authorities and other experts, designers and builders
					</p>
				</figure>
				<figure>
					<figcaption>architect & designer</figcaption>
					<h6>2012-2014</h6>
					<p>
						Work with clients. Creating templates, development of project design. 3D visualization and Graphic design.
					</p>
				</figure>
			</article>
			<br style="clear:both" />
		</div>
	</section>
	
	<!-- <div class="blank col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
	<div class="about_me_cnt col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center">
		<h3>JS developer</h3>
		<p class="line margin">SUMMARY OF QUALIFICATION</p>
		<ul class="ul_style text-left">
			<li class="li_style">more than 2.5 years of web application development experience</li>
			<li class="li_style">more than 2.5 years of plugins and modules development experience</li>
			<li class="li_style">Launched more than 5 websites</li>
			<li class="li_style">Object-­oriented design and programing skills</li>
			<li class="li_style">Successful coordination and work in team</li>
		</ul>
		<p class="line margin">TECHNICAL SKILLS</p>
		<dl class="ul_style dl-horizontal">
			<dt class="dl_style">Languages:</dt>
			<dd class="dl_style">PHP, Javascript</dd>
			<dt class="dl_style">Frameworks:</dt>
			<dd class="dl_style">Laravel, Express</dd>
			<dt class="dl_style">Web Servers:</dt>
			<dd class="dl_style">NGINX, Apache</dd>
			<dt class="dl_style">Version control systems:</dt>
			<dd class="dl_style">Git, Subversion</dd>
			<dt class="dl_style">Databases:</dt>
			<dd class="dl_style">MySQL, MongoDB</dd>
		</dl>
		<p class="line margin">PROFESSIONAL EXPERIENCE</p>
		<b><p class="text-left negative_margin_bottom">03/2015-Present, Freelance Frontend developer</p></b>
		<ul class="ul_style text-left">
			<li class="li_style">Create websites</li>
			<li class="li_style">Development of web design, create layouts, draw pictures and logo</li>
		</ul>
		<b><p class="text-left negative_margin_bottom">2014-2015, Freelance Content  manager</p></b>
		<ul class="ul_style text-left">
			<li class="li_style">Writing new unique content for the
				website, adapt images and upload them on web hosting
			</li>
		</ul>
		<b><p class="text-left negative_margin_bottom">02/2012–11/2015, Architect at Engineering and Construction organization «PKB Projektstroi»</p></b>
		<ul class="ul_style text-left">
			<li class="li_style">Developing projects from the conceptual design stage to the stage of detailed design,
			construction coordination with state authorities and other experts, designers and builders
			</li>
		</ul>
		<p class="line margin">EDUCATION</p>
		<b><p class="text-left negative_margin_bottom">2010-2012 at Kharkiv O.M. Beketov National University Of Urban Economy</p></b>
		<ul class="ul_style text-left">
			<li class="li_style">Master’s degree in Architecture</li>
		</ul>
		<b><p class="text-left negative_margin_bottom">2006-2010 at Kharkiv O.M. Beketov National University Of Urban Economy</p></b>
		<ul class="ul_style text-left">
			<li class="li_style">Bachelor’s degree in Urban Design</li>
		</ul>
		<p class="line margin">ADDITIONAL EDUCATION</p>
		<ul class="ul_style text-left">
			<li class="li_style">Front-End development courses in Brain Academy March–July 2016</li>
			<li class="li_style">English language school “Big Bang” -  November 2013-February 2015</li>
			<li class="li_style">English language school “NewTone”  - November 2012-february 2013</li>
			<li class="li_style">System of professional training and certification "Building-Modern technologies"   November 2014-December 2014</li>
			<li class="li_style">Training under the program “Estimating in Building and program complex AVK – practical use”</li>
			
		</ul>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
	<div class="about_me_footer col-lg-12 col-md-12 col-sm-12 col-xs-12"></div> -->
</section>